.device {
    justify-content: center;
    background-color: #EDEDED;
    border-radius: 6px;
    padding: 12px 20px;
    text-align: center;
    margin: 10px;
}

.content {
    background-color: #444444;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 30px;
}

.description {
    display: block;
    color: #000000;
    margin-bottom: 20px;
}

.panel {
    background-color: #444444;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

.panelNew {
    background-color: #444444;
    border: none;
    color: #39A845;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
}

.panel:hover {
    background-color: #444444;
    border: none;
    color: #171717;
    display: inline-block;
    font-size: 16px;
}

.panelNew:hover {
    background-color: #444444;
    border: none;
    color: #DA0037;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
}

.editPanel {
    background-color: #444444;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
}

.editPanel:hover {
    border: none;
    font-weight: bold;
}